.servicesSection {
    width: 1350px;
    margin: 0 auto;
    padding: 125px 0;
}

.headerTitle {
    padding: 20px 0;
    font-size: 2rem;
}

.filters {
    padding: 0 0 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    align-items: center;
    justify-content: space-between;
}

.selectFilters {
    display: flex;
    gap: 1rem;
}


.searchBar {
    position: relative;
    flex-grow: 1;
    max-width: 400px;
}

.searchBar input {
    width: 100%;
    padding: 10px 15px 10px 40px;
    border: 1px solid #ddd;
    border-radius: 25px;
    font-size: 0.9rem;
    transition: all 0.3s;
}

.searchBar input:focus {
    outline: none;
    border-color: #4a90e2;
    box-shadow: 0 0 0 3px rgba(74, 144, 226, 0.2);
}

.searchIcon {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    color: #6c757d;
}

.selectFilters {
    display: flex;
    gap: 1rem;
}

.filterSelect,
.btnCreateService {
    width: 180px;
    padding: 10px 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 0.9rem;
    cursor: pointer;
    transition: all 0.3s;
    appearance: none;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='%236c757d' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3e%3cpolyline points='6 9 12 15 18 9'%3e%3c/polyline%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 16px;
    padding-right: 32px;
}

.filterSelect:focus, select:focus {
    outline: none;
    border-color: #4a90e2;
    box-shadow: 0 0 0 3px rgba(74, 144, 226, 0.2);
}

.btnCreateService {
    background-image: none;
    background-color: #000;
    color: #FFF;
    transition: all 0.3s;
    padding-right: 15px;
}

.btnCreateService:hover {
    background-color: #166184;
}

.tableContainer {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.4);
    overflow: hidden;
}

/* Estilos de la tabla */
.serviceTable {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
    border-bottom: 8px solid #000;
}

.serviceTable thead {
    background-color: #000000;
    border: 2px solid #000000;
}

.serviceTable th {
    font-weight: 700;
    color: #a7abaf;
    text-transform: uppercase;
    font-size: 0.8rem;
    letter-spacing: 0.5px;
}

.serviceTable tbody tr {
    /* border-bottom: 1px solid #e9ecef; */
    transition: all 0.2s ease;
}

.serviceTable tbody tr:hover {
    background-color: #f0f2f5;
}

.serviceTable td {
    padding: 12px 15px;
    vertical-align: middle;
    border-bottom: 1px solid #00000010;
}

.addressCell {
    max-width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* Estilos para la informaci칩n del usuario */
.serviceInfo {
    display: flex;
    align-items: center;
    text-align: left;
}

.imgService {
    width: 45px;
    height: 45px;
    border: 1px solid #00000020;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    margin-right: 12px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
}

.imgService img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.imgDefault {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
}

.serviceDetails {
    display: flex;
    flex-direction: column;
    width: 100%;
    /* Ajusta el ancho para dejar espacio para el avatar */
}

.serviceName {
    font-weight: 600;
    color: #2c3e50;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.serviceDate {
    font-size: 0.8rem;
}

.status {
    display: inline-block;
    padding: 5px 10px;
    border-radius: 20px;
    font-size: 0.75rem;
    font-weight: 600;
}

.active {
    background-color: #e8f5e9;
    color: #388e3c;
}

.inactive {
    background-color: #ffebee;
    color: #d32f2f;
}

/* Estilos para los botones de acci칩n */
.actions {
    display: flex;
    justify-content: center;
    gap: 8px;
}

.btn {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    cursor: pointer;
    transition: all 0.2s ease;
}

.btn:hover {
    transform: translateY(-2px);
}

.edit {
    background-color: #e3f2fd;
    color: #1976d2;
}

.delete {
    background-color: #fce4ec;
    color: #c2185b;
}

.toggleStatus {
    background-color: #f3e5f5;
    color: #8e24aa;
}

/*Estilos modal*/
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    display: flex;;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.modal {
    background: #fff;
    border-radius: 16px;
    width: 900px;
    height: auto;
    position: relative;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.15);
    animation: fadeIn 0.3s ease;
}

.closeButton {
    position: absolute;
    top: 16px;
    right: 20px;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: bold;
    color: #333;
    transition: transform .3s ease;
}

.closeButton:hover {
    color: #000000;
    transform: scale(1.1);
}

.backgroundModalEdit {
    border-radius: 16px 16px 0 0;
    height: 110px;
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 50%, rgba(0, 212, 255, 1) 100%);
}

.formRegisterService {
    padding: 25px;
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr;
}

.selectImg {
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    grid-column: span 2;
    align-items: start;
}

.initialsAvatar {
    color: #000;
    width: 85px;
    height: 85px;
    border-radius: 50%;
    background-color: #FFF;
    border: 3px solid #FFFFFF;
    box-shadow: 0px 0px 10px 2px #00000050;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 3.5rem;
    position: relative;
    top: -20px;
    cursor: pointer;
    transition: transform .3s ease;
}

.initialsAvatar:hover {
    transform: scale(1.1);
}

.selectImg span {
    padding-top: 15px;
    margin-left: 25px;
}

.textMediaFile {
    display: flex;
    flex-direction: column;
}

.selectImg .initialsAvatar {
    width: 85px;
    height: 85px;
    font-size: 2.8rem;
}

.inputField {
    font-size: 16px;
}

.inputField label{
    display: flex;
    width: 95%;
    padding-left: 8px;
    margin-bottom: 4px;
    color: #555;
    font-weight: 600;
}

.inputField input,
.inputField select,
.inputField textarea {
    width: 97%;
    max-width: 97%;
    resize: none;
    font-size: 15px;
    padding: 10px 12px;
    border-radius: 8px;
    border: 2px solid #ccc;
    background: #fff;
}

.inputField input:hover,
.inputField select:hover,
.inputField input:focus,
.inputField select:focus {
    outline: none;
    border: 2px solid #000000;
}

.required {
    font-size: .8rem;
    padding-left: 3px;
    color: red;
}

.errorMsg {
    text-align: center;
    color: red;
    padding: 5px 0 15px;
}

.validationError {
    height: auto;
    color: red;
    text-shadow: none;
}

.errorInput {
    border: 2px solid red !important;
    box-shadow: 0px 0px 8px red;
}

.inputFull {
    grid-column: span 2;
}

.containerButtons {
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: baseline;
    gap: 25px;
}

.containerButtons button {
    font-size: .9rem;
    width: 200px;
    margin: 0;
    border: 1px solid #FFFFFF80;
    border-radius: 1.5rem;
}

/* Contenedor de las reglas de peso */
.weightRulesContainer {
  grid-column: span 2;
  background: #f8f8f8;
  border-radius: 12px;
  padding: 15px 20px;
  box-shadow: 0 0 6px #00000030;
}

.weightRulesContainer h4 {
  font-size: 1.1rem;
  margin-bottom: 10px;
  color: #333;
}

/* Cada grupo de inputs para min/max/price */
.ruleGroup {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
  align-items: center;
}

.ruleGroup input {
  width: 100%;
  padding: 8px 10px;
  border: 2px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
  background: #fff;
}

.ruleGroup input:focus {
  outline: none;
  border: 2px solid #000;
}

/* Bot칩n para a침adir nuevas reglas */
.btnAddRule {
  background-color: #000;
  color: #fff;
  font-weight: bold;
  border: none;
  border-radius: 6px;
  padding: 8px 14px;
  cursor: pointer;
  transition: all 0.2s ease;
  margin:2px
}

.btnAddRule:hover {
  background-color: #333;
}

.ruleField {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.ruleField label {
  font-size: 0.9rem;
  font-weight: 600;
  color: #444;
  margin-bottom: 4px;
}
