 /* Contenedor principal */
.containProducts {
    margin-top: 115px;
    display: flex;
    padding: 20px 0;
}

/* Contenedor filtros */
.containFilter {
    min-width: 350px;
    text-align: center;
}

.sectionFilter {
    padding-bottom: 5px;
    width: 80%;
    margin: 0 auto;
    text-align: center;
    border: 3px solid;
    border-radius: 10px;
}

.sectionFilter:nth-child(1) {
    margin-bottom: 10px;
}

.titleFilter {
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

.search {
    width: 80%;
    padding: 5px;
    border-radius: 8px;
    outline: none;
    border: 3px solid #00000080;
    margin-bottom: 5px;
}

.search:focus {
    border: 3px solid #000;
}

.listCheckbox label {
    display: block;
    padding: 5px;
    text-align: left;
    margin-left: 15px;
}

/* Listar productos */
.cardProductsContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.cardProduct {
    /* border: 1px solid #00000080; */
    height: 420px;
    width: 260px;
    max-height: 420px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.cardProduct:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.5);
}

.imgCardProduct {
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    width: 100%;
    height: 60%;
    background-color: #F7F7F7;
}

.cardImage {
    height: 90%;
}

.nameProduct {
    margin: 0px 10px;
    height: 13%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nameProduct h3 {
  margin: 0;
  text-align: center;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
}

.price::first-letter {
  color: #7E57C2;
  font-weight: bold;
}

.cardProduct input {
    width: 70px;
    margin-left: 5px;
    text-align: center;
    border-radius: 8px;
    border: 3px solid #00000080;
    outline: none;
}

.cardProduct input:focus {
    border: 3px solid #000;
}

.addCard {
    width: 180px;
    padding: 10px 15px;
    border: none;
    color: #fff;
    border-radius: 5px;
    font-size: 0.9rem;
    cursor: pointer;
    transition: all 0.3s;
    background-color: #000;
    background-size: 16px;
    margin-top: 5px;
}

.productPrice {
    color: #207da7;
}

.productBtn,
.buyBtn,
.managmentPrdBtn {
    width: 90%;
    border-radius: 5px;
    padding: 8px 14px;
    background-color: #000;
    color: white;
    border: transparent;
    cursor: pointer;
}

.productBtn:hover,
.buyBtn:hover,
.managmentPrdBtn:hover {
    background-color: #166184;
    transition: .3s;
}

.managmentPrdBtn {
    width: 60%;
    margin-top: 20px;
}

/* boton carrito */
.cartIcon {
    position: fixed;
    right: 25px;
    bottom: 25px;
    background-color: #000;
    padding: 14px 12px 8px 10px;
    border-radius: 50%;
    cursor: pointer;
    transition: transform .5s ease-in-out;
}

.cartIcon:hover {
    transform: scale(1.1);
}

.cartIcon i {
    font-size: 1.8rem;
    color: white;
}

.amount {
    font-size: 1.1rem;
    padding-left: 5px;
    position: absolute;
    width: 25px;
    height: 25px;
    top: -9px;
    right: -9px;
    border-radius: 40px;
    border: 1px solid black;
    background-color: white;
    font-weight: 600;
}

/* Modal productos carrito */
.cartSection {
    position: fixed;
    top: 0;
    right: 0;
    width: 400px;
    max-height: 100vh;
    background-color: #fff;
    box-shadow: 2px 2px 10px black;
    overflow-y: auto;
    /* display: none; */
    border-radius: 5px 0 0 5px;
    text-align: center;
    z-index: 999;
}

.cartSection h2 {
    margin: 35px 0 15px;
}

.cartSection h2 i {
    color: #207da7;
}

.cartItem {
    position: relative;
    width: 200px;
    height: 220px;
    border: 1px solid #00000090;
    border-radius: 10px;
    font-size: .5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 5px;
}

.cartItem img {
    height: 120px;
}

.cartItem p {
    font-size: 1.2rem;
}

.amountCart {
    width: 70px;
    margin-left: 5px;
    text-align: center;
    border-radius: 8px;
    border: 3px solid #00000080;
    outline: none;
}

.amountCart:focus {
    border: 3px solid #000;
}

.productBtnCart {
    position: absolute;
    top: 4px;
    right: 4px;
    border: none;
    cursor: pointer;
    color: #b92b27;
    font-size: 1.4rem;
    background-color: transparent;
}

.buyBtn {
    border: none;
    margin: 10px 0;
}

.closeCart {
    position: absolute;
    font-size: 1.4rem;
    cursor: pointer;
    top: 5px;
    right: 5px;
    border: none;
    color: #b92b27;
    background-color: transparent;
}