.productsSection {
    width: 1350px;
    margin: 0 auto;
    padding: 125px 0;
}

.headerTitle {
    padding: 20px 0;
    font-size: 2rem;
}

.filters {
    padding: 0 0 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    align-items: center;
    justify-content: space-between;
}

.selectFilters {
    display: flex;
    gap: 1rem;
}


.searchBar {
    position: relative;
    flex-grow: 1;
    max-width: 400px;
}

.searchBar input {
    width: 100%;
    padding: 10px 15px 10px 40px;
    border: 1px solid #ddd;
    border-radius: 25px;
    font-size: 0.9rem;
    transition: all 0.3s;
}

.searchBar input:focus {
    outline: none;
    border-color: #4a90e2;
    box-shadow: 0 0 0 3px rgba(74, 144, 226, 0.2);
}

.searchIcon {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    color: #6c757d;
}

.selectFilters {
    display: flex;
    gap: 1rem;
}

.filterSelect,
.btnCreateProduct {
    width: 180px;
    padding: 10px 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 0.9rem;
    cursor: pointer;
    transition: all 0.3s;
    appearance: none;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='%236c757d' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3e%3cpolyline points='6 9 12 15 18 9'%3e%3c/polyline%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 16px;
    padding-right: 32px;
}

.filterSelect:focus, select:focus {
    outline: none;
    border-color: #4a90e2;
    box-shadow: 0 0 0 3px rgba(74, 144, 226, 0.2);
}

.btnCreateProduct {
    background-image: none;
    background-color: #000;
    color: #FFF;
    transition: all 0.3s;
    padding-right: 15px;
}

.btnCreateProduct:hover {
    background-color: #166184;
}

.tableContainer {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.4);
    overflow: hidden;
}

/* Estilos de la tabla */
.productTable {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
    border-bottom: 8px solid #000;
}

.productTable thead {
    background-color: #000000;
    border: 2px solid #000000;
}

.productTable th {
    font-weight: 700;
    color: #a7abaf;
    text-transform: uppercase;
    font-size: 0.8rem;
    letter-spacing: 0.5px;
}

.productTable tbody tr {
    /* border-bottom: 1px solid #e9ecef; */
    transition: all 0.2s ease;
}

.productTable tbody tr:hover {
    background-color: #f0f2f5;
}

.productTable td {
    padding: 12px 15px;
    vertical-align: middle;
    border-bottom: 1px solid #00000010;
}

.addressCell {
    max-width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* Estilos para la información del usuario */
.productInfo {
    display: flex;
    align-items: center;
    text-align: left;
}

.imgProduct {
    width: 45px;
    height: 45px;
    border: 1px solid #00000020;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    margin-right: 12px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
}

.imgProduct img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.initialsAvatar {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
}

.productDetails {
    display: flex;
    flex-direction: column;
    width: 100%;
    /* Ajusta el ancho para dejar espacio para el avatar */
}

.productName {
    font-weight: 600;
    color: #2c3e50;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.productDate {
    font-size: 0.8rem;
}

/* Estilos para los botones de acción */
.actions {
    display: flex;
    justify-content: center;
    gap: 8px;
}

.btn {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    cursor: pointer;
    transition: all 0.2s ease;
}

.btn:hover {
    transform: translateY(-2px);
}

.edit {
    background-color: #e3f2fd;
    color: #1976d2;
}

.delete {
    background-color: #fce4ec;
    color: #c2185b;
}

.toggleStatus {
    background-color: #f3e5f5;
    color: #8e24aa;
}