 /* Contenedor principal */
.containServices {
    margin-top: 115px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
}

.serviceCardContainer {
    margin-top: 20px;
}

.cardServicesContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.cardService {
    height: 400px;
    width: 400px;
    border-radius: 10px;
    max-height: 420px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.cardService:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.5);
}

.imgCardService {
    height: 180px;
    width: 180px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cardImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.nameService {
    margin-top: 10px;
    height: 13%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nameService h3 {
  margin: 0;
  text-align: center;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
}

.description {
  margin: 0 10px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  text-align: center;
  height: 60px;
}


.btnAppointment {
    margin-top: 15px;
    padding: 10px 15px;
    font-size: 1rem;
    background-color: #7E57C2;
    border-radius: 10px;
    border: none;
    color: #fff;
    cursor: pointer;
}

.price::fifth-letter {
  color: #7E57C2;
  font-weight: bold;
}

